In [1]:
import pandas as pd
import numpy as np

In [2]:
df = {
    'x': [1,2,4],
    'y' : [6,11,32]
}
df = pd.DataFrame(df)

func_1 = lambda x: 5*x+1
func_2 = lambda x: 7*x+4
func_3 = lambda x: 6*x+4

df['func_1'] = df['x'].apply(func_1)
df['func_2'] = df['x'].apply(func_2)
df['func_3'] = df['x'].apply(func_3)

display(df)

   x   y  func_1  func_2  func_3
0  1   6       6      11      10
1  2  11      11      18      16
2  4  32      21      32      28

In [3]:
## (a)
# Mean squared error
def mse(y_true, y_pred):
    total = 0
    for i in range(len(y_true)):
        total += (y_true[i] - y_pred[i])**2
    return total/len(y_true)
# Mean absolute error
def mae(y_true, y_pred):
    total = 0
    for i in range(len(y_true)):
        total += abs(y_true[i] - y_pred[i])
    return total/len(y_true)

cell_df = {
    'func_1': [mse(df['y'], df['func_1']), mae(df['y'], df['func_1'])],
    'func_2': [mse(df['y'], df['func_2']), mae(df['y'], df['func_2'])],
    'func_3': [mse(df['y'], df['func_3']), mae(df['y'], df['func_3'])]
}
cell_df = pd.DataFrame.from_dict(cell_df, orient='index', columns=['MSE', 'MAE'])
display(cell_df.round(2))

          MSE   MAE
func_1  40.33  3.67
func_2  24.67  4.00
func_3  19.00  4.33

In [4]:
# With library
from sklearn.metrics import mean_squared_error, mean_absolute_error
cell_df = {
    'func_1': [mean_squared_error(df['y'], df['func_1']), mean_absolute_error(df['y'], df['func_1'])],
    'func_2': [mean_squared_error(df['y'], df['func_2']), mean_absolute_error(df['y'], df['func_2'])],
    'func_3': [mean_squared_error(df['y'], df['func_3']), mean_absolute_error(df['y'], df['func_3'])]
}
cell_df = pd.DataFrame.from_dict(cell_df, orient='index', columns=['MSE', 'MAE'])
display(cell_df.round(2))

          MSE   MAE
func_1  40.33  3.67
func_2  24.67  4.00
func_3  19.00  4.33

In [5]:
## (b)
# Pretty sure the gradient of RMSE is a constant (because no square), but RMSE = sqrt(MSE) so if you apply the chain rule
# you get 1/2 * (1/RMSE) * {derivative of MSE}, which doesn't look like a constant to me, so I don't know.
# It's what I would have written as an answer, or more likely, I'd have skipped the question, because I spent too much time
# on it to get to this point. And also I had to look up the chain rule, which I couldn't have done in the exam.